In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
global_contra = pd.read_csv('actual_data/contraceptive_use_percent_of_women_ages_15_49.csv')

In [3]:
global_birth = pd.read_csv('actual_data/sp_dyn_cbrt_in.csv')

In [4]:
global_contra_trim = global_contra[['country','1999','2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]

In [5]:
global_birth_trim = global_birth[['country','1999','2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]

In [6]:
contra_country = global_contra_trim.country.to_list()

In [7]:
global_birth_trim = global_birth_trim.loc[global_birth.country.isin(contra_country)]

In [8]:
birth_country = global_birth_trim.country.to_list()

In [9]:
global_contra_trim = global_contra_trim.loc[global_contra_trim.country.isin(birth_country)]

In [10]:
global_birth.shape

(212, 62)

In [11]:
global_birth_trim = global_birth_trim.dropna()

In [12]:
global_contra_trim.columns

Index(['country', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [13]:
years = ['1999','2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019']

In [14]:
global_contra_melt = global_contra_trim.melt(id_vars = 'country', value_vars=years).dropna()

In [15]:
global_contra_melt.variable = global_contra_melt.variable.astype(int)

In [16]:
global_contra_melt = global_contra_melt.rename(columns={'variable':'year'})

In [17]:
global_contra_max = global_contra_melt.groupby('country')['year'].max().to_frame().reset_index().rename(columns = {'variable':'year'})

In [18]:
global_contra_final = pd.merge(global_contra_max,global_contra_melt, on=['country','year'], how='inner')

In [19]:
us_birth = global_birth.dropna()

In [20]:
us_birth_rates = us_birth.loc[us_birth.country == 'United States']

In [21]:
us_birth_rates = us_birth_rates.melt().drop(index = 0).rename(columns = {'variable':'year','value':'birth_rate'})

In [22]:
us_birth_rates

    year birth_rate
1   1959       23.7
2   1960       23.3
3   1961       22.4
4   1962       21.7
5   1963       21.1
..   ...        ...
57  2015       12.2
58  2016       11.8
59  2017       11.6
60  2018       11.4
61  2019       10.9

[61 rows x 2 columns]

In [29]:
global_birth_trim.loc[global_birth_trim['2019'] == global_birth_trim['2019'].max()]

,country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
140,Niger,53.5,53.2,52.9,52.6,52.2,51.8,51.4,51.0,50.6,...,49.4,48.9,48.5,48.0,47.5,47.0,46.5,46.1,45.6,45.2

In [32]:
global_contra_final.loc[global_contra_final.value == global_contra_final.value.max()]

           country  year  value
41  Czech Republic  2007   86.3

In [24]:
us_birth_rates.to_csv('viz_tables/us_birth_rates.csv')

In [25]:
global_birth_trim.to_csv('viz_tables/global_birth_rates.csv')

In [26]:
global_contra_final.to_csv('viz_tables/global_contra_rates.csv')