In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Pulling in births by state

In [2]:
states_2016 = pd.read_csv('actual_data/states_2016.csv')

In [3]:
states_2017 = pd.read_csv('actual_data/states_2017.csv')

In [4]:
states_2018 = pd.read_csv('actual_data/states_2018.csv')

In [5]:
states_2019 = pd.read_csv('actual_data/states_2019.csv')

In [6]:
states_2020 = pd.read_csv('actual_data/states_2020.csv')

### Pulling in pop by state

In [7]:
states_pop_2016 = pd.read_csv('actual_data/states_pop_2016.csv')

In [8]:
states_pop_2017 = pd.read_csv('actual_data/states_pop_2017.csv')

In [9]:
states_pop_2018 = pd.read_csv('actual_data/states_pop_2018.csv')

In [10]:
states_pop_2019 = pd.read_csv('actual_data/states_pop_2019.csv')

In [11]:
states_pop_2020 = pd.read_csv('actual_data/states_pop_2020.csv')

### Pulling in pop by age/state

In [12]:
pop_age_2016 = pd.read_csv('actual_data/pop_age_2016.csv')

In [13]:
pop_age_2017 = pd.read_csv('actual_data/pop_age_2017.csv')

In [14]:
pop_age_2018 = pd.read_csv('actual_data/pop_age_2018.csv')

In [15]:
pop_age_2019 = pd.read_csv('actual_data/pop_age_2019.csv')

In [16]:
pop_age_2020 = pd.read_csv('actual_data/pop_age_2020.csv')

### Organizing frames - births

In [17]:
states_2016 = states_2016.drop(columns = 'Notes').dropna()

In [18]:
states_2016['year'] = 2016

In [19]:
states_2017 = states_2017.drop(columns = 'Notes').dropna()

In [20]:
states_2017['year'] = 2017

In [21]:
states_2018 = states_2018.drop(columns = 'Notes').dropna()

In [22]:
states_2018['year'] = 2018

In [23]:
states_2019 = states_2019.drop(columns = 'Notes').dropna()

In [24]:
states_2019['year'] = 2019

In [25]:
states_2020 = states_2020.drop(columns = 'Notes').dropna()

In [26]:
states_2020['year'] = 2020

### Organizing Frames - pop

In [27]:
states_pop_2016 = states_pop_2016.drop([0]).head(51)

In [28]:
states_pop_2016 = states_pop_2016['Column1'].str.replace('\t"', ':').str.replace('"\t',':').str.replace('"','').str.split(':', expand=True)

In [29]:
states_pop_2017 = states_pop_2017.drop([0]).head(51)

In [30]:
states_pop_2017 = states_pop_2017['Column1'].str.replace('\t"', ':').str.replace('"\t',':').str.replace('"','').str.split(':', expand=True)

In [31]:
states_pop_2018 = states_pop_2018.drop([0]).head(51)

In [32]:
states_pop_2018 = states_pop_2018['Column1'].str.replace('\t"', ':').str.replace('"\t',':').str.replace('"','').str.split(':', expand=True)

In [33]:
states_pop_2019 = states_pop_2019.drop([0]).head(51)

In [34]:
states_pop_2019 = states_pop_2019['Column1'].str.replace('\t"', ':').str.replace('"\t',':').str.replace('"','').str.split(':', expand=True)

In [35]:
states_pop_2020 = states_pop_2020.drop([0]).head(51)

In [36]:
states_pop_2020 = states_pop_2020['Column1'].str.replace('\t"', ':').str.replace('"\t',':').str.replace('"','').str.split(':', expand=True)

In [37]:
states_pop_2016['year'] = 2016

In [38]:
states_pop_2017['year'] = 2017

In [39]:
states_pop_2018['year'] = 2018

In [40]:
states_pop_2019['year'] = 2019

In [41]:
states_pop_2020['year'] = 2020

### Organizing Frames - age/state

In [42]:
pop_age_2016 = pop_age_2016.head(20).transpose().reset_index()

In [43]:
pop_age_2016.columns = pop_age_2016.iloc[0]

In [44]:
pop_age_2016 = pop_age_2016.drop(pop_age_2016.iloc[:, 2:6],axis = 1).drop(pop_age_2016.iloc[:, 14:21],axis = 1)

In [45]:
pop_age_2016.columns = ['state','population','fifteen_nineteen','twenty_twentyfour','twentyfive_twentynine','thirty_thirtyfour',
                       'thirtyfive_thirtynine','forty_fortyfour','fortyfive_fortynine','fifty_fiftyfour']

In [46]:
pop_age_2016.state = pop_age_2016.state.str.replace('!!',' ')

In [47]:
pop_age_2016 = pop_age_2016.drop(index=0).sort_values('state').reset_index(drop=True)

In [48]:
pop_age_2016 = pop_age_2016[pop_age_2016["state"].str.contains("Female Estimate")].reset_index(drop=True)

In [49]:
pop_age_2017 = pop_age_2017.head(20).transpose().reset_index()

In [50]:
pop_age_2017.columns = pop_age_2017.iloc[0]

In [51]:
pop_age_2017 = pop_age_2017.drop(pop_age_2017.iloc[:, 2:6],axis = 1).drop(pop_age_2017.iloc[:, 14:21],axis = 1)

In [52]:
pop_age_2017.columns = ['state','population','fifteen_nineteen','twenty_twentyfour','twentyfive_twentynine','thirty_thirtyfour',
                       'thirtyfive_thirtynine','forty_fortyfour','fortyfive_fortynine','fifty_fiftyfour']

In [53]:
pop_age_2017.state = pop_age_2017.state.str.replace('!!',' ')

In [54]:
pop_age_2017 = pop_age_2017.drop(index=0).sort_values('state').reset_index(drop=True)

In [55]:
pop_age_2017 = pop_age_2017[pop_age_2017["state"].str.contains("Female Estimate")][::2].reset_index(drop=True)

In [56]:
pop_age_2017.fifteen_nineteen = pop_age_2017.fifteen_nineteen.str.replace(',', '').astype(int)
pop_age_2017.twenty_twentyfour = pop_age_2017.twenty_twentyfour.str.replace(',', '').astype(int)
pop_age_2017.twentyfive_twentynine = pop_age_2017.twentyfive_twentynine.str.replace(',', '').astype(int)
pop_age_2017.thirty_thirtyfour = pop_age_2017.thirty_thirtyfour.str.replace(',', '').astype(int)
pop_age_2017.thirtyfive_thirtynine = pop_age_2017.thirtyfive_thirtynine.str.replace(',', '').astype(int)
pop_age_2017.forty_fortyfour = pop_age_2017.forty_fortyfour.str.replace(',', '').astype(int)
pop_age_2017.fortyfive_fortynine = pop_age_2017.fortyfive_fortynine.str.replace(',', '').astype(int)
pop_age_2017.fifty_fiftyfour = pop_age_2017.fifty_fiftyfour.str.replace(',', '').astype(int)
pop_age_2017.population = pop_age_2017.population.str.replace(',', '').astype(int)

In [57]:
pop_age_2018 = pop_age_2018.head(20).transpose().reset_index()

In [58]:
pop_age_2018.columns = pop_age_2018.iloc[0]

In [59]:
pop_age_2018 = pop_age_2018.drop(pop_age_2018.iloc[:, 2:6],axis = 1).drop(pop_age_2018.iloc[:, 14:21],axis = 1)

In [60]:
pop_age_2018.columns = ['state','population','fifteen_nineteen','twenty_twentyfour','twentyfive_twentynine','thirty_thirtyfour',
                       'thirtyfive_thirtynine','forty_fortyfour','fortyfive_fortynine','fifty_fiftyfour']

In [61]:
pop_age_2018.state = pop_age_2018.state.str.replace('!!',' ')

In [62]:
pop_age_2018 = pop_age_2018.drop(index=0).sort_values('state').reset_index(drop=True)

In [63]:
pop_age_2018 = pop_age_2018[pop_age_2018["state"].str.contains("Female Estimate")][::2].reset_index(drop=True)

In [64]:
pop_age_2018.fifteen_nineteen = pop_age_2018.fifteen_nineteen.str.replace(',', '').astype(int)
pop_age_2018.twenty_twentyfour = pop_age_2018.twenty_twentyfour.str.replace(',', '').astype(int)
pop_age_2018.twentyfive_twentynine = pop_age_2018.twentyfive_twentynine.str.replace(',', '').astype(int)
pop_age_2018.thirty_thirtyfour = pop_age_2018.thirty_thirtyfour.str.replace(',', '').astype(int)
pop_age_2018.thirtyfive_thirtynine = pop_age_2018.thirtyfive_thirtynine.str.replace(',', '').astype(int)
pop_age_2018.forty_fortyfour = pop_age_2018.forty_fortyfour.str.replace(',', '').astype(int)
pop_age_2018.fortyfive_fortynine = pop_age_2018.fortyfive_fortynine.str.replace(',', '').astype(int)
pop_age_2018.fifty_fiftyfour = pop_age_2018.fifty_fiftyfour.str.replace(',', '').astype(int)
pop_age_2018.population = pop_age_2018.population.str.replace(',', '').astype(int)

In [65]:
pop_age_2019 = pop_age_2019.head(20).transpose().reset_index()

In [66]:
pop_age_2019.columns = pop_age_2019.iloc[0]

In [67]:
pop_age_2019 = pop_age_2019.drop(pop_age_2019.iloc[:, 2:6],axis = 1).drop(pop_age_2019.iloc[:, 14:21],axis = 1)

In [68]:
pop_age_2019.columns = ['state','population','fifteen_nineteen','twenty_twentyfour','twentyfive_twentynine','thirty_thirtyfour',
                       'thirtyfive_thirtynine','forty_fortyfour','fortyfive_fortynine','fifty_fiftyfour']

In [69]:
pop_age_2019.state = pop_age_2019.state.str.replace('!!',' ')

In [70]:
pop_age_2019 = pop_age_2019.drop(index=0).sort_values('state').reset_index(drop=True)

In [71]:
pop_age_2019 = pop_age_2019[pop_age_2019["state"].str.contains("Female Estimate")][::2].reset_index(drop=True)

In [72]:
pop_age_2019.fifteen_nineteen = pop_age_2019.fifteen_nineteen.str.replace(',', '').astype(int)
pop_age_2019.twenty_twentyfour = pop_age_2019.twenty_twentyfour.str.replace(',', '').astype(int)
pop_age_2019.twentyfive_twentynine = pop_age_2019.twentyfive_twentynine.str.replace(',', '').astype(int)
pop_age_2019.thirty_thirtyfour = pop_age_2019.thirty_thirtyfour.str.replace(',', '').astype(int)
pop_age_2019.thirtyfive_thirtynine = pop_age_2019.thirtyfive_thirtynine.str.replace(',', '').astype(int)
pop_age_2019.forty_fortyfour = pop_age_2019.forty_fortyfour.str.replace(',', '').astype(int)
pop_age_2019.fortyfive_fortynine = pop_age_2019.fortyfive_fortynine.str.replace(',', '').astype(int)
pop_age_2019.fifty_fiftyfour = pop_age_2019.fifty_fiftyfour.str.replace(',', '').astype(int)
pop_age_2019.population = pop_age_2019.population.str.replace(',', '').astype(int)

In [73]:
pop_age_2020 = pop_age_2020.head(20).transpose().reset_index()

In [74]:
pop_age_2020.columns = pop_age_2020.iloc[0]

In [75]:
pop_age_2020 = pop_age_2020.drop(pop_age_2020.iloc[:, 2:6],axis = 1).drop(pop_age_2020.iloc[:, 14:21],axis = 1)

In [76]:
pop_age_2020.columns = ['state','population','fifteen_nineteen','twenty_twentyfour','twentyfive_twentynine','thirty_thirtyfour',
                       'thirtyfive_thirtynine','forty_fortyfour','fortyfive_fortynine','fifty_fiftyfour']

In [77]:
pop_age_2020.state = pop_age_2020.state.str.replace('!!',' ')

In [78]:
pop_age_2020 = pop_age_2020.drop(index=0).sort_values('state').reset_index(drop=True)

In [79]:
pop_age_2020 = pop_age_2020[pop_age_2020["state"].str.contains("Female Estimate")][::2].reset_index(drop=True)

In [80]:
pop_age_2020.fifteen_nineteen = pop_age_2020.fifteen_nineteen.str.replace(',', '').astype(int)
pop_age_2020.twenty_twentyfour = pop_age_2020.twenty_twentyfour.str.replace(',', '').astype(int)
pop_age_2020.twentyfive_twentynine = pop_age_2020.twentyfive_twentynine.str.replace(',', '').astype(int)
pop_age_2020.thirty_thirtyfour = pop_age_2020.thirty_thirtyfour.str.replace(',', '').astype(int)
pop_age_2020.thirtyfive_thirtynine = pop_age_2020.thirtyfive_thirtynine.str.replace(',', '').astype(int)
pop_age_2020.forty_fortyfour = pop_age_2020.forty_fortyfour.str.replace(',', '').astype(int)
pop_age_2020.fortyfive_fortynine = pop_age_2020.fortyfive_fortynine.str.replace(',', '').astype(int)
pop_age_2020.fifty_fiftyfour = pop_age_2020.fifty_fiftyfour.str.replace(',', '').astype(int)
pop_age_2020.population = pop_age_2020.population.str.replace(',', '').astype(int)

In [81]:
pop_age_2016['year'] = 2016

In [82]:
pop_age_2017['year'] = 2017

In [83]:
pop_age_2018['year'] = 2018

In [84]:
pop_age_2019['year'] = 2019

In [85]:
pop_age_2020['year'] = 2020

### Extra Calcs for 2016 age/state

In [86]:
pop_age_2016.fifteen_nineteen = pop_age_2016.fifteen_nineteen.str[:-1].astype(float)
pop_age_2016.twenty_twentyfour = pop_age_2016.twenty_twentyfour.str[:-1].astype(float)
pop_age_2016.twentyfive_twentynine = pop_age_2016.twentyfive_twentynine.str[:-1].astype(float)
pop_age_2016.thirty_thirtyfour = pop_age_2016.thirty_thirtyfour.str[:-1].astype(float)
pop_age_2016.thirtyfive_thirtynine = pop_age_2016.thirtyfive_thirtynine.str[:-1].astype(float)
pop_age_2016.forty_fortyfour = pop_age_2016.forty_fortyfour.str[:-1].astype(float)
pop_age_2016.fortyfive_fortynine = pop_age_2016.fortyfive_fortynine.str[:-1].astype(float)
pop_age_2016.fifty_fiftyfour = pop_age_2016.fifty_fiftyfour.str[:-1].astype(float)

In [87]:
pop_age_2016.population = pop_age_2016.population.str.replace(',', '').astype(int)

In [88]:
pop_age_2016.fifteen_nineteen=round(((pop_age_2016.fifteen_nineteen*pop_age_2016['population'])/100)).astype(int)
pop_age_2016.twenty_twentyfour = round(((pop_age_2016.twenty_twentyfour*pop_age_2016['population'])/100)).astype(int)
pop_age_2016.twentyfive_twentynine = round(((pop_age_2016.twentyfive_twentynine*pop_age_2016['population'])/100)).astype(int)
pop_age_2016.thirty_thirtyfour = round(((pop_age_2016.thirty_thirtyfour*pop_age_2016['population'])/100)).astype(int)
pop_age_2016.thirtyfive_thirtynine = round(((pop_age_2016.thirtyfive_thirtynine*pop_age_2016['population'])/100)).astype(int)
pop_age_2016.forty_fortyfour = round(((pop_age_2016.forty_fortyfour*pop_age_2016['population'])/100),0).astype(int)
pop_age_2016.fortyfive_fortynine = round(((pop_age_2016.fortyfive_fortynine*pop_age_2016['population'])/100)).astype(int)
pop_age_2016.fifty_fiftyfour = round(((pop_age_2016.fifty_fiftyfour*pop_age_2016['population'])/100)).astype(int)

In [89]:
pop_age_2016.head()

,state,population,fifteen_nineteen,twenty_twentyfour,twentyfive_twentynine,thirty_thirtyfour,thirtyfive_thirtynine,forty_fortyfour,fortyfive_fortynine,fifty_fiftyfour,year
0,Alabama Female Estimate,2494971,159678,172153,162173,157183,152193,157183,162173,177143,2016
1,Alaska Female Estimate,351559,22851,25664,28828,25664,22148,21797,22500,24961,2016
2,Arizona Female Estimate,3384471,223375,233528,219991,216606,203068,209837,206453,216606,2016
3,Arkansas Female Estimate,1511778,98266,101289,96754,95242,90707,93730,93730,102801,2016
4,California Female Estimate,19453236,1283914,1400633,1420086,1361727,1283914,1283914,1303367,1322820,2016

### Merging All Years (pop and births)

In [90]:
births_all_years = pd.concat([states_2016,states_2017,states_2018,states_2019,states_2020])

In [91]:
pop_all_years = pd.concat([states_pop_2016,states_pop_2017,states_pop_2018,states_pop_2019,states_pop_2020])

In [92]:
age_pop_all_years = pd.concat([pop_age_2016,pop_age_2017,pop_age_2018,pop_age_2019,pop_age_2020])

### Organizing Merged DFs

In [93]:
pop_all_years=pop_all_years.drop(columns = [0])

In [94]:
pop_all_years.columns = ['state','state_code','population','year']

In [95]:
births_all_years.columns = ['state','state_code','births','year']

In [96]:
pop_all_years.state_code=pop_all_years.state_code.astype(int)
pop_all_years.population=pop_all_years.population.astype(int)

In [97]:
births_all_years.state_code=births_all_years.state_code.astype(int)
births_all_years.births=births_all_years.births.astype(int)

In [98]:
age_pop_all_years.state = age_pop_all_years.state.str.replace('Female Estimate','')

In [99]:
age_pop_all_years.columns

Index(['state', 'population', 'fifteen_nineteen', 'twenty_twentyfour',
       'twentyfive_twentynine', 'thirty_thirtyfour', 'thirtyfive_thirtynine',
       'forty_fortyfour', 'fortyfive_fortynine', 'fifty_fiftyfour', 'year'],
      dtype='object')

In [100]:
age_pop_all_years['female_pop_15_54'] = age_pop_all_years.fifteen_nineteen+age_pop_all_years.twenty_twentyfour+age_pop_all_years.twentyfive_twentynine+age_pop_all_years.thirty_thirtyfour+age_pop_all_years.thirtyfive_thirtynine+age_pop_all_years.forty_fortyfour+age_pop_all_years.fortyfive_fortynine+age_pop_all_years.fifty_fiftyfour

In [101]:
age_pop_all_years = age_pop_all_years[['state','female_pop_15_54','year']]

In [102]:
age_pop_all_years.state=age_pop_all_years.state.str.strip()

In [103]:
age_pop_all_years.head()

        state  female_pop_15_54  year
0     Alabama           1299879  2016
1      Alaska            194413  2016
2     Arizona           1729464  2016
3    Arkansas            772519  2016
4  California          10660375  2016

In [104]:
pop_all_years.head()

        state  state_code  population  year
1     Alabama           1     4863300  2016
2      Alaska           2      741894  2016
3     Arizona           4     6931071  2016
4    Arkansas           5     2988248  2016
5  California           6    39250017  2016

In [105]:
census_pop = pd.merge(age_pop_all_years,pop_all_years, how='inner', on=['state','year']).reset_index(drop=True)

In [106]:
census_pop= census_pop[['state','year','female_pop_15_54','population']].rename(columns = {'female_pop_15_54':'total_female_pop_15_54','population':'total_population'})

### Pop And Births Merge

In [107]:
pop_and_births = pd.merge(births_all_years,pop_all_years, on=['state','state_code','year'], how='inner')

In [108]:
#pop_and_births = pd.merge(pop_and_births,age_pop_all_years, on=['state','year'], how='inner')

### Bring in DEMO DATA

In [109]:
two_demo = pd.read_csv('organized_data/ay_two_female.csv')
nhopi_demo = pd.read_csv('organized_data/ay_nhopi_female.csv')
asian_demo = pd.read_csv('organized_data/ay_asian_female.csv')
aian_demo = pd.read_csv('organized_data/ay_aian_female.csv')
aa_demo = pd.read_csv('organized_data/ay_aa_female.csv')
yt_demo = pd.read_csv('organized_data/ay_yt_female.csv')
his_demo = pd.read_csv('organized_data/ay_his_female.csv')

In [110]:
census_pop_total = pd.read_csv('organized_data/census_pop_total.csv')

### MERGING WITH POP CENSUS

In [111]:
census_pop.shape

(255, 4)

In [112]:
merge1 = pd.merge(census_pop,his_demo, how='inner',on=['state','year'])

In [113]:
merge2 = pd.merge(merge1,yt_demo, how='inner',on=['state','year'])

In [114]:
merge3 = pd.merge(merge2,aa_demo, how='inner',on=['state','year'])

In [115]:
merge4 = pd.merge(merge3,aian_demo, how='inner',on=['state','year'])

C:\Users\Morgan\AppData\Local\Temp/ipykernel_34808/2314395797.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge4 = pd.merge(merge3,aian_demo, how='inner',on=['state','year'])

In [116]:
merge5 = pd.merge(merge4,asian_demo, how='inner',on=['state','year'])

In [117]:
merge6 = pd.merge(merge5,nhopi_demo, how='inner',on=['state','year'])

C:\Users\Morgan\AppData\Local\Temp/ipykernel_34808/1540597905.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge6 = pd.merge(merge5,nhopi_demo, how='inner',on=['state','year'])

In [118]:
merge7 = pd.merge(merge6,two_demo, how='inner',on=['state','year'])

In [119]:
merge7.head(1)

,state,year,total_female_pop_15_54,total_population,Unnamed: 0_x,his_total_pop,his_female_pop_15_54,Unnamed: 0_y,yt_total_pop,yt_female_pop_15_54,...,aian_female_pop_15_54,Unnamed: 0_x,asian_total_pop,asian_female_pop_15_54,Unnamed: 0_y,nhopi_total_pop,nhopi_female_pop_15_54,Unnamed: 0,two_total_pop,two_female_pop_15_54
0,Alabama,2016,1299879,4863300,0,193503,13800,0,3325037,205677,...,1684,0,60744,4209,0,2008,124,0,85412,7418

In [120]:
census_pop_total.head(1)

   Unnamed: 0    state  total_pop  year
0           1  Alabama    4841164  2016

In [121]:
final_census_pop=pd.merge(merge7,census_pop_total, how='inner',on=['state','year'])

C:\Users\Morgan\AppData\Local\Temp/ipykernel_34808/2066693237.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  final_census_pop=pd.merge(merge7,census_pop_total, how='inner',on=['state','year'])

In [122]:
final_census_pop.columns

Index(['state', 'year', 'total_female_pop_15_54', 'total_population',
       'Unnamed: 0_x', 'his_total_pop', 'his_female_pop_15_54', 'Unnamed: 0_y',
       'yt_total_pop', 'yt_female_pop_15_54', 'Unnamed: 0_x', 'aa_total_pop',
       'aa_female_pop_15_54', 'Unnamed: 0_y', 'aian_total_pop',
       'aian_female_pop_15_54', 'Unnamed: 0_x', 'asian_total_pop',
       'asian_female_pop_15_54', 'Unnamed: 0_y', 'nhopi_total_pop',
       'nhopi_female_pop_15_54', 'Unnamed: 0_x', 'two_total_pop',
       'two_female_pop_15_54', 'Unnamed: 0_y', 'total_pop'],
      dtype='object')

In [123]:
final_census_pop = final_census_pop[['state', 'year', 'total_population','total_pop','total_female_pop_15_54',
        'his_total_pop', 'his_female_pop_15_54', 
       'yt_total_pop', 'yt_female_pop_15_54',  'aa_total_pop',
       'aa_female_pop_15_54',  'aian_total_pop',
       'aian_female_pop_15_54',  'asian_total_pop',
       'asian_female_pop_15_54',  'nhopi_total_pop',
       'nhopi_female_pop_15_54',  'two_total_pop',
       'two_female_pop_15_54']].rename(columns = {'total_pop':'census_pop','total_population':'cdc_pop'})

In [124]:
final_census_pop.to_csv('organized_data/final_census_pop.csv')

In [125]:
pop_and_births.to_csv('organized_data/pop_and_births.csv')

In [128]:
pop_and_births.shape

(255, 5)

In [127]:
final_census_pop

,state,year,cdc_pop,census_pop,total_female_pop_15_54,his_total_pop,his_female_pop_15_54,yt_total_pop,yt_female_pop_15_54,aa_total_pop,aa_female_pop_15_54,aian_total_pop,aian_female_pop_15_54,asian_total_pop,asian_female_pop_15_54,nhopi_total_pop,nhopi_female_pop_15_54,two_total_pop,two_female_pop_15_54
0,Alabama,2016,4863300,4841164,1299879,193503,13800,3325037,205677,1282053,106490,23919,1684,60744,4209,2008,124,85412,7418
1,Alaska,2016,741894,736855,194413,49031,4061,483518,28174,24443,1552,103574,8205,44218,3266,8862,868,62340,5956
2,Arizona,2016,6931071,6728577,1729464,2054849,183828,5235158,326223,287110,22852,296732,26095,205229,13592,12863,882,222579,21803
3,Arkansas,2016,2988248,2968472,772519,207049,17066,2307136,143823,460638,38315,18697,1385,41539,3135,6738,505,66079,6299
4,California,2016,39250017,38654206,10660375,14903982,1286841,23680584,1527082,2261835,171817,285512,21607,5354608,325403,150908,11259,1787159,168870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Virginia,2020,8590563,8509358,2259752,810770,63082,5643436,335980,1620649,116225,22553,1857,570398,34676,5994,509,405786,39105
251,Washington,2020,7693612,7512465,1958856,971522,84598,5523881,301799,290245,20508,91766,6258,662902,40095,51117,3792,531976,45675
252,West Virginia,2020,1784787,1807426,437009,28679,2516,1672255,96607,64285,4345,3146,338,14228,1083,474,37,43760,3515
253,Wisconsin,2020,5832655,5806975,1456004,408267,36031,4895065,304898,367889,29615,48674,3228,163396,14335,2672,226,194564,17442
254,Wyoming,2020,582328,581348,141050,58854,4463,525246,31057,5079,390,13117,1207,4892,503,589,177,22718,1935